.container {
  display: flex;
  min-height: 100vh;
  margin-left: 60px;
  transition: margin-left 0.3s ease;
}

.container.expanded {
  margin-left: 250px;
}

.content-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-left: 0;
    margin-top: 60px; /* Ajuste para compensar o menu no topo */
  }

  .content-container {
    padding-top: 10px;
  }
}
